{% extends "default.html" %}

{% block content %}
{{content|safe}}

{# The following is `raw` because we want it to be in the
   produced page, so it can then be templated on the fly 
   with the error messages #}
{% raw %}
{% if details %}
<div class="error-details">
    <p>Error details:</p>
    <ul>
    {% for desc in details %}
        <li>{{ desc }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endraw %}
{% endblock %}

{% block footer %}
{% pcformat 'textile' %}
p(note). You're seeing this because something wrong happend. To see detailed errors with callstacks, run chef with the @--debug@ parameter, append @?!debug@ to the URL, or initialize the @PieCrust@ object with @{'debug': true}@. On the other hand, to see you custom error pages, set the @site/display_errors@ setting  to @false@.
{% endpcformat %}
{% endblock %}
