<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{%if title%}{{title}} &ndash; {%endif%}FoodTruck</title>
        <meta name="description" content="A PieCrust management dashboard"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{url_for('.static', filename='css/foodtruck.min.css')}}"/>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
        <link rel="apple-touch-icon" href="{{url_for('.static', filename='img/apple-touch-icon.png')}}"/>
    </head>
    <body>
        <div id="ft-wrapper" class="container-fluid {{wrapper_classes}}">
            <header>
                {% if title %}<h1 class="title">{{title}}</h1>{% endif %}
                {% block sub_header %}{% endblock %}
            </header>
            {% block before_content %}{% endblock %}
            <section>
                {% block content %}{% endblock %}
            </section>
            {% block after_content %}{% endblock %}
            <div id="ft-publog" class="ft-publog" role="alert" style="display: none;">
                <button type="button" class="close" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="ft-publog-container"></div>
            </div>
            <footer>
                <p>Prepared by <a href="http://bolt80.com">BOLT80</a>.</p>
                <p>Much <span class="oi oi-heart"></span> to
                <a href="http://python.org">Python</a>,
                <a href="http://flask.pocoo.org">Flask</a>,
                <a href="http://getbootstrap.com">Bootstrap</a>,
                <a href="http://ionicons.com/">Ionicons</a>,
                and many more.</p>
            </footer>
        </div>
        <script src="{{url_for('.static', filename='js/foodtruck.min.js')}}"></script>
    </body>
</html>

