<ul>
    {%-for e in menu.entries%}
    <li>
        <div class="ft-nav-entry-wrapper {%if e.active%}ft-nav-active{%elif e.entries and not e.open%}ft-nav-collapsed{%endif%}">
        <a href="{{e.url}}" class="ft-nav-entry">
        {%-if e.icon%}<span class="oi oi-{{e.icon}}"></span> {%endif%}{{e.title}}
        </a>
        {%-if e.quicklink%}
        <a class="ft-nav-quicklink" href="{{e.quicklink.url}}" alt="{{e.quicklink.title}}">
            <span class="oi oi-{{e.quicklink.icon}}"></span></a>
        {%endif%}
        </div>
        {%-if e.entries%}
        <ul>
            {%-for e2 in e.entries%}
            <li><a href="{{e2.url}}" class="ft-nav-entry {%if e2.active%}ft-nav-active{%endif%}">{{e2.title}}</a></li>
            {%endfor%}
        </ul>
        {%endif-%}
    </li>
    {%endfor%}
</ul>
{%if menu.user.is_authenticated%}
<p class="ft-nav-auth">Logged in as {{menu.user.id}}. <a href="{{menu.url_logout}}">Logout</a>.</p>
{%endif%}
