include CHANGELOG.rst
include INSTALL.rst
include LICENSE.rst
include README.rst

include pytest.ini
include setup.cfg
include requirements.txt
include dev-requirements.txt

recursive-include piecrust *
recursive-include tests *

global-exclude *.py[cdo] __pycache__ *.so
global-exclude .DS_Store Thumbs.db Desktop.ini
global-exclude *.swp *~ *.bak
