include README.rst
include CHANGELOG.rst
include LICENSE.rst
include requirements.txt
include dev-requirements.txt
recursive-include foodtruck *.py *.html
recursive-include foodtruck/static *
recursive-include piecrust *.py mime.types
recursive-include piecrust/resources *
recursive-include tests *.py
#global-exclude .DS_Store
#global-exclude Thumbs.db
#global-exclude Desktop.ini
#global-exclude *.swp
#global-exclude *~
#global-exclude *.bak

