attrs==21.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
compressinja==0.0.2
cryptography==3.4.7
Flask==1.1.4
Flask-IndieAuth==0.0.3.2
Flask-Login==0.5.0
html5lib==1.1
idna==2.10
iniconfig==1.1.1
Inukshuk==0.1.2
invoke==1.5.0
itsdangerous==1.1.0
Jinja2==2.10.1
Markdown==3.3.4
MarkupSafe==2.0.1
mf2py==1.1.2
mock==4.0.3
packaging==20.9
paramiko==2.7.2
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.9.0
PyNaCl==1.4.0
pyparsing==2.4.7
pystache==0.5.4
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil==2.8.1
PyYAML==5.4.1
regex==2021.4.4
repoze.lru==0.7
requests==2.25.1
six==1.16.0
smartypants==2.0.1
soupsieve==2.2.1
strict-rfc3339==0.7
textile==4.0.1
toml==0.10.2
Unidecode==1.2.0
urllib3==1.26.5
watchdog==2.1.2
webencodings==0.5.1
Werkzeug==1.0.1
