{% extends 'layouts/default.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>When</th>
            <th>Title</th>
            <th>Who</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for p in pages %}
        <tr>
            <td>{% if p.timestamp > 0 %}
                <time class="timeago" datetime="{{p.timestamp|iso8601}}">{{p.timestamp|datetime}}</time>
                {% else %}
                <em>no date/time</em>
                {% endif %}
            </td>
            <td><a href="{{p.url}}">{{p.title}}</a></td>
            <td>{{p.author}}</td>
            <td>{{p.category}}</td>
            <td>{{p.tags|join(', ')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    {% if pagination.prev_page or pagination.next_page %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="ft-pagination">
            {% if pagination.prev_page %}
            <a href="{{pagination.prev_page}}"><span class="oi oi-chevron-left"></span> prev</a>
            {% else %}
            <span class="oi oi-chevron-left"></span> prev
            {% endif %}

            {% for p in pagination.nums %}
            {% if p.url %}<a href="{{p.url}}" class="ft-pagination-a">{{p.num}}</a>{% else %}<span class="ft-pagination-a">{{p.num}}</span>{% endif %}
            {% endfor %}

            {% if pagination.next_page %}
            <a href="{{pagination.next_page}}">next <span class="oi oi-chevron-right"></span></a>
            {% else %}
            next <span class="oi oi-chevron-right"></span>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


