{% extends 'layouts/master.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="ft-login">
            <p class="login-box-msg">{{message|default('You know the drill.')}}</p>

            <form action="{{login_postback}}" method="post">
                <div class="form-group">
                    <label for="pcLogin">Username:</label>
                    <input id="pcLogin" type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <span id="pcPassword">Password:</span>
                    <input id="pcPassword" type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input id="pcRemember" type="checkbox" class="form-check-input"></input>
                            <label class="form-check-label" for="pcRemember">Remember Me</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

