{% extends 'layouts/default.html' %}

{% block content %}
<h1>Publish {{site_title}}</h1>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p class="bg-info">{{message}}</p>
{% endfor %}
{% endwith %}

{% for target in targets %}
<div>
    <h3>{{target.name}}</h3>
    {% if target.description %}<p>{{target.description}}</p>{% endif %}
    <form action="{{url_run}}" method="POST">
        <input type="hidden" name="target" value="{{target.name}}" />
        <button type="submit" class="btn btn-default"><span class="oi oi-cloud-upload"></span> Execute</button>
    </form>
</div>
{% endfor %}

{% if last_log %}
<h2>Last Publish Log</h2>
<pre><code>
{{last_log}}
</code></pre>
{% endif %}

{% endblock %}

