{% extends 'layouts/default.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2><span class="icon ion-stats-bars"></span> Site Summary</h2>
            {% for s in sources %}
            <div class="ft-summary-source">
                <a href="{{s.list_url}}">{{s.page_count}} {{s.name}}</a>
            </div>
            {% endfor %}

            <h2><span class="icon ion-pinpoint"></span> Preview Site</h2>
            <a href="{{url_preview}}">Preview {{site_name}}</a>
        </div>
        <div class="col-md-6">
            <h2><span class="icon ion-erlenmeyer-flask"></span> Work in Progress</h2>
            {% if new_pages %}
            <p>New pages</p>
            <ul>
                {% for p in new_pages %}
                <li><a href="{{p.url}}">{{p.title}}</a><br/>
                    {%if p.text%}<pre>{{p.text}}</pre>{%endif%}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if edited_pages %}
            <p>Edited pages</p>
            <ul>
                {% for p in edited_pages %}
                <li><a href="{{p.url}}">{{p.title}}</a><br/>
                    {%if p.text%}<pre>{{p.text}}</pre>{%endif%}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if not new_pages and not edited_pages %}
            <p>No work in progress.</p>
            {% endif %}

            <h2><span class="icon"></span> Switch Site</h2>
            <form action="{{url_switch}}" method="POST">
                {% for site in sites %}
                <p><button type="submit" name="site_name" value="{{site.name}}" class="btn btn-link">{{site.display_name}}</a></p>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><span class="icon ion-radio-waves"></span> Publishing</h2>
            <form action="{{url_bake}}" method="POST">
                <button name="do_bake" type="submit" class="btn btn-primary btn-lg">
                    <span class="icon ion-upload"></span> Bake!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

