
/*****************************************************************************/

@keyframes slideNotification {
    0% { opacity: 1; }
    100% { opacity: 0; right: -11em; }
}

.piecrust-debug-notifications {
    font-size: 1rem;
}

.piecrust-debug-notification {
    padding: 0.5em;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    width: 30%;
    min-width: 10em;
    border-radius: 5px;
    animation-name: slideNotification;
    animation-delay: 1s;
    animation-duration: 1s;
}

.piecrust-debug-notification-success {
    background-color: #4BB025;
    border: 2px solid #3AA014;
}

.piecrust-debug-notification-error {
    background-color: #920C0C;
    border: 2px solid #810B0B;
}

/*****************************************************************************/

.piecrust-debug-window {
    padding: 1em;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    background: #a42;
    color: #fff;
    position: fixed;
    width: 50%;
    bottom: 0;
    right: 0;
    overflow: auto;
    max-height: 50%;
    box-shadow: 0 0 10px #633;
}

.piecrust-debug-info {
}

.piecrust-debug-info a {
    color: #fff;
    text-decoration: none;
}

.piecrust-debug-icon {
    height: 2em;
}

.piecrust-debug-info-header1 {
    margin: 0.5em 0;
    font-weight: bold;
}

.piecrust-debug-info-header2 {
    margin: 0.5em 0;
    font-weight: bold;
}

.piecrust-debug-info-data {
    font-family: Courier, sans-serif;
    font-size: 0.9em;
}

.piecrust-debug-info-datablock {
    margin-left: 2em;
}

.piecrust-debug-info-datavalue {
    color: #fca;
}

.piecrust-debug-info-doc {
    color: #fa8;
    font-size: 0.9em;
}

/*****************************************************************************/

