//
// Page editing
// --------------------------------------------------

.ft-write-form textarea {
    @include resizable(vertical);

    outline: none;
    overflow: auto;
    font-family: 'Courier', 'Courier New', sans-serif;
    padding: 1em;
}

