
// Overrides
$icon-font-path: '../fonts/';

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/alerts";
@import "bootstrap/button-groups";
@import "bootstrap/close";
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/input-groups";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Ionicons
@import "ionicons";

// Foodtruck
@import "foodtruck/base";
@import "foodtruck/sidebar";
@import "foodtruck/editing";

